<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWu-Xm1UuAq2Wfh2VXanibObt5KFmzq6s</string>
	<key>GCM_SENDER_ID</key>
	<string>11481576355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lelewiseMobileApps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lele-wise-5f987</string>
	<key>STORAGE_BUCKET</key>
	<string>lele-wise-5f987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11481576355:ios:ab7483cc24701300be6016</string>
</dict>
</plist>